.views-pages-home-introduce {

    .introduce-box-masking {
        height: 90px;
    }

    .button-register {
        width: 170px;
        height: 58px;
    }

    .button-transaction {
        width: 170px;
        height: 58px;
    }

    .world-line {
        position: relative;
        width: 1.8em;
        top: -12px;
    }

    .introduce-transaction {
        .home-introduce-Rectangle {
            border-radius: 40px 40px 0 0;
            height: 150px;
            position: relative;

            .home-picture-vbit {
                position: absolute;
                bottom: 0;
                left: 4%;
            }

            .home-download-info-vbit{
                position: absolute;
                left: 25%;
            }

            .home-download-btn-vbit{
                position: absolute;
                right: 9%;
            }
        }
    }

    .Android-button {
        width: 163px;
        height: 48px;
    }

    .IOS-button {
        width: 163px;
        height: 48px;
    }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    .views-pages-home-introduce {
        .introduce-transaction {
            .button-register {
                width: 104px;
                height: 36px;
            }

            .button-transaction {
                width: 104px;
                height: 36px;
            }

            .home-introduce-Rectangle {
                border-radius: 0;
                height: 615px;
                display: flex;
                flex-direction: column;
                justify-content: start;

                .home-picture-vbit {
                    left: 16%;
                }
            }
        }
    }
}
