@import "../common.scss";

.input-with-components .without-border {
    border: none;
    box-shadow: initial;
    border-radius: 0;
}

.input-with-components input {
    padding: var(--c-padding-level2) !important;
}

.input-with-components input.without-border {
    height: calc(100% - 4px);
    //border-radius: 0 4px 4px 0;
}

.input-with-components input.without-border:focus {
    box-shadow: initial !important;
    border-color: initial  !important;
}

.input-with-components .input:focus-within {
    @extend .input:focus
}

.input-with-components .line {
    width: 1px;
    height: 100%;
    padding-left: 2px;
}

.input-with-components .line {
    background: var(--c-line-lighten);
}