@import "../bluma.scss";

.input-with-select .without-border {
    border: none;
    box-shadow: initial;
    border-radius: 0;
}

.input-with-select select {
    padding: var(--c-padding-level2);
}

.input-with-select .select::after {
    top: 55% !important;
    right: 0 !important;
    margin: var(--c-padding-level2);
}


.input-with-select input {
    padding: var(--c-padding-level2);
}


.input-with-select select.without-border {
    margin-top: 2px;
    height: calc(100% - 4px);
    border-radius: 4px 0 0 4px;
}

.input-with-select input.without-border {
    height: calc(100% - 4px);
    border-radius: 0 4px 4px 0;
}

.input-with-select select.without-border:focus {
    box-shadow: initial;
    border-color: initial;
}

.input-with-select input.without-border:focus {
    box-shadow: initial;
    border-color: initial;
}

.input-with-select .input:focus-within {
    @extend .input:focus
}

.input-with-select .line {
    width: 1px;
    height: 100%;
    padding-left: 2px;
}

#theme--light .input-with-select .line {
    background: var(--c-line-lighten);
}

#theme--dark .input-with-select .line {
    background: var(--c-line-darken);
}
