#slideShowBTT, #slideShowLTR {
    width: 100%;
    height: 100%;
}

// 广告轮播

#slideShowBTT {

  .swiper-slide {
    display: flex;
  }

  .swiper-pagination-bullet {
    width: 4px;
    height: 32px;
    border-radius: 4px;
  }
  .swiper-pagination-bullet-active {
    background-color: #FF8B00;
  }

  .swiper-slide .imgBox {
    margin-right: 20px;
    border-radius: 10px;
    box-sizing: border-box;
    width: 33%;
  }

  .swiper-slide .imgBox:last-child {
    margin-right: 40px;
  }


  .swiper-slide .imgBox img {
    width: 100%;
    height: 100%;
  }

}

// 行情轮播
#slideShowLTR {

  .swiper-slide {

    .imgBox {
      width: 100%;
      height: 198px;
      padding: 24px;
      overflow: hidden;
      text-align: left;
      border-radius: 16px;
      background: #0E1C33 url("~@/assets/img/home/bgImg.png") no-repeat center bottom;
      box-sizing: border-box;
      box-shadow: 0px 0px 33.8px 15.2px rgba(0, 0, 0, 0.24);


      .marketTitle {
        margin-bottom: 12px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

        .marketName {
          height: 34px;
          color: #FFFFFF;
          font-style: normal;
          line-height: 34px;
        }

        .marketGrowth {
          // width: 73px;
          // height: 30px;
          // line-height: 30px;
          padding: 2px 4px 2px 5px;
          line-height: 20px;
          text-align: center;
          border-radius: 4px;
          margin-bottom: 4px;
        }
      }

      @media screen and (min-width: 1024px) {
        .marketTitle {
          margin-bottom: 24px;
        }
      }

      @media screen and (max-width: 1260px) {
        .marketTitle {
          margin-bottom: 0px;
        }
      }

      .marketPrice {
        height: 44px;
        font-style: normal;
        line-height: 45px;
        margin-bottom: 4px;
      }

      .marketNumber {
        height: 20px;
        font-style: normal;
        line-height: 20px;
        margin-bottom: 4px;
        align-items: flex-end;
        color: #9A9EAC;
      }
      .marketNumber:last-child() {
        margin-bottom: 0px;
      }
    }
  }
}
// 公告轮播
.slideshow {
  .button-prev, .button-next {
    position: absolute;
    top: 50%;
    outline: none;
    width: calc(var(--swiper-navigation-size) / 44 * 27);
    height: var(--swiper-navigation-size);
    margin-top: calc(-1 * var(--swiper-navigation-size) / 2);
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);
    color: var(--swiper-navigation-color, var(--swiper-theme-color));
  }
  .button-prev {
    left: -47px;
  }
  .button-next {
    right: -47px;
  }
}

.components-slideshow-trumpet {
  width: 100%;
  height: 25px;
  display: flex;
  justify-content: center;

  .slideshow-trumpet-icon {
    height: 100%;
    position: relative;

    img {
      vertical-align: middle;
    }
    span {
      margin-left: 14px;
      vertical-align: middle;
    }
  }

  .slideshow-trumpet-content {
    width: 444px;
    overflow: hidden;
    height: 100%;
    margin: 0px 32px 0px 12px;

    #slideShowNotice {
      height: 100%;

      .noticeText {
        cursor: pointer;
      }
    }
  }

  .slideshow-trumpet-more {
    color: var(--c-primary-darken);
    cursor: pointer;

    &:after {
      content: '';
      width: 7px;
      height: 7px;
      margin-left: 4px;
      display: inline-block;
      border-top: 2px solid var(--c-primary-darken);
      border-right: 2px solid var(--c-primary-darken);
      transform: rotate(45deg)
    }
  }
}