.self-manage-user {
  padding: 20px 0px;
  color: #FFFFFF;

  .userInfo {

    .headPortrait {
      width: 100px;
      height: 100px;
      position: relative;
      background: url("~./bg.svg") no-repeat center center;

      .imgBox {
        width: 52px;
        height: 52px;
        text-align: center;
        line-height: 52px;
        border-radius: 50%;
        overflow: hidden;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    .userMessage {
      .name {
        line-height: 45px;
        margin-bottom: 4px;

        span {
          margin-right: 8px;
        }
      }
      .user-uid {
        cursor: pointer;
        padding: 0px 8px;
        border-radius: 50px;
        display: inline-block;
        background: linear-gradient(110.35deg, #EFE7DB 7.31%, #CEC6B8 81.37%);
        span {
          position: relative;
          top: -2px;
        }
        .icon-copy:before {
          font-size: var(--c-fontsz-level5);
        }
      }
    }
  }

  .logInLog {
    color: #9A9EAC;
    text-align: right;
    font-weight: normal;
    line-height: 20px;
  }
}