// 导航头
.navbar {
    .navbar-brand,
    .navbar-start,
    .navbar-end,
    .navbar-item.has-dropdown {
        > .navbar-item,
        .navbar-link {
            color: var(--c-font-darken);
        }
        &:hover {
            > .navbar-item,
            .navbar-link {
                background-color: var(--c-background-darken2);
            }
        }
    }
}
// new 提示
.header-new-info {
    border-radius: 10px 10px 10px 0;
}

// 下拉菜单中左边的icon
.header-navbar-item-icon {
    width: 12px;
    height: 12px;
    border: 1px solid;
}