.views-pages-myassets-tradingAccount{
    .tradingAccount_nav{
        display: flex;
        flex-direction: row;
        height: 52px;
        width: 25%;
    }
    ul{
        border: none;
    }
}