.views-page-accountSecurity-modifyLoginPassword{
    .operation{
        height: 57px;
        div{
            line-height: 57px;
        }
    }
    .center{
        height: 517px;
        .center-center{
            width: 381px;
        }
    }
    .margin-LRauto{
        margin: 0 auto;
    }
    input{
        width: 381px;
        height: 44px;
    }
    button{
        outline: none;
        border: none;
        width: 381px;
        height: 44px;
    }
}