.register-send-code-width {
    width: 7rem !important;
}

.register-national-select {
    top: 2px !important;
    height: calc(100% - 4px) !important;
}

.register-national-select:focus {
    box-shadow: initial !important;
    border-color: initial !important;
}