@media screen and (height: 768px){
    #app .section,
    #app .bottom-sheet{
      padding-bottom: 24px;
    }
}
@media screen and (height: 794px){
    #app .section,
    #app .bottom-sheet{
        padding-bottom: 24px;
    }
}
@media screen and (height: 852px){
    #app .section,
    #app .bottom-sheet{
        padding-bottom: 24px;
    }
}