/**
    此文件用于放除尺寸和颜色之外的公用样式
*/

/* 公共样式 start */

.is-between {
    display: flex;
    justify-content: space-between;
    // align-items: center;
}

.is-around {
    display: flex;
    justify-content: space-around;
    // align-items: center;
}

.is-align-items-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.is-align-items-right {
    display: flex;
    justify-content: right;
    align-items: end;
}

.column {
    padding: 0;
}

// 左 斜切
.skew-left {
    position: relative;
    border: none;

    &::before {
        display: block;
        content: "";
        width: 10px;
        height: 100%;
        position: absolute;
        left: -4px;
        background-color: inherit;
        transform: skewX(-8deg);
    }
}

// 右 斜切
.skew-right {
    position: relative;
    border: none;

    &::after {
        display: block;
        content: "";
        width: 10px;
        height: 100%;
        position: absolute;
        right: -4px;
        background-color: inherit;
        transform: skewX(-8deg);
    }
}

// hover提示 组件
.my-tooltip {
    .bdb-dashed {
        // 下边框-虚线
        border-bottom: 1px dashed;
    }

    .dropdown-menu {
        padding-top: 6px;

        // 三角形
        &.arrows::before {
            content: "";
            width: 0;
            height: 0;
            position: absolute;
            z-index: 9;
            top: 0;
            transform: translateY(-50%);
            border-top: solid 6px transparent !important;
            border-left: solid 6px transparent !important;
            border-right: solid 6px transparent !important;
            border-bottom: solid 6px;
        }

        // 提示 居中
        &.my-tooltip-center {
            left: 50%;
            right: auto;
            transform: translateX(-50%);

            // 三角形
            &::before {
                left: 50%;
                right: auto;
                transform: translate(-50%, -50%);
            }
        }

        // 提示 居左
        &.my-tooltip-left {
            left: 0;
            right: auto;

            // 三角形
            &::before {
                left: 5%;
                right: auto;
            }
        }

        // 提示 居右
        &.my-tooltip-right {
            right: 0;
            left: auto;

            // 三角形
            &::before {
                right: 5%;
                left: auto;
            }
        }
    }
}

// modal弹框 组件
.my-modal {
    &.theme--light {
        background-color: initial;
    }
    .modal-card {
        width: 448px;
    }
    .modal-card-head {
        padding: var(--c-padding-level7);
        .modal-card-title {
            .modal-card-title-log {
                opacity: .12;
            }
        }
    }
    .modal-card-body {
        padding: var(--c-padding-level7);
    }
    .modal-card-foot {
        padding: var(--c-padding-level7);
        border: none;
        .button {
            width: 100%;
        }
    }
}

// 下拉组件
.my-dropdown {
    width: 100%;
    .dropdown-trigger {
        width: 100%;
        .button {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
    .dropdown-menu {
        width: 100%;
        min-width: 10rem;
        .dropdown-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            &.has-hover:hover,
            &.has-active {
                color: var(--c-primary-lighten);
            }
        }
    }
}

// 表单样式
.my-form {
    .form-item {
        padding-bottom: var(--c-padding-level5);
        .form-item-title {
            font-size: var(--c-fontsz-level4);
            color: var(--c-font-lighten);
            padding-bottom: var(--c-padding-level2);
        }
        .form-item-content {

        }
    }
}

.navbar-item img {
    max-height: none;
}

/* 动画相关 start */
@keyframes sliding-out-from-right {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0%);
    }
}

@keyframes sliding-out-from-top {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0%);
    }
}

/* 动画相关 end */

/* 旋转 */
.rotate-x-90 {
    transform: rotateX(90deg);
    display: inline-block
}

.rotate-x-180 {
    transform: rotateX(180deg);
    display: inline-block
}

.rotate-x-270 {
    transform: rotateX(270deg);
    display: inline-block
}



/* 滚动 */
.scroll {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.scroll-y {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.scroll-x {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

// 鼠标浮动指针显示
.cursor-pointer {
    cursor: pointer;
}

/* 公共样式 end */

// flex
.spacer {
    flex-grow: 1 !important;
    -webkit-box-flex: 1 !important;
}