/**
    此文件用于放除尺寸和颜色之外的公用样式
*/

/* 公共样式 start */

.is-between {
    display: flex;
    justify-content: space-between;
    // align-items: center;
}

.is-around {
    display: flex;
    justify-content: space-around;
    // align-items: center;
}

.navbar-start {
    width: 100%;
}

.is-align-items-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.is-align-items-right {
    display: flex;
    justify-content: right;
    align-items: end;
}

// hover 提示消息
.my-tooltip {
    .bdb-dashed {
        // 下边框-虚线
        border-bottom: 1px dashed;
    }

    .dropdown-menu {
        padding-top: 6px;

        // 三角形
        &::before {
            content: "";
            width: 0;
            height: 0;
            position: absolute;
            z-index: 9;
            top: 0;
            transform: translateY(-50%);
            border-top: solid 6px transparent !important;
            border-left: solid 6px transparent !important;
            border-right: solid 6px transparent !important;
            border-bottom: solid 6px;
        }

        // 提示 居中
        &.my-tooltip-center {
            left: 50%;
            right: auto;
            transform: translateX(-50%);

            // 三角形
            &::before {
                left: 50%;
                right: auto;
                transform: translate(-50%, -50%);
            }
        }

        // 提示 居左
        &.my-tooltip-left {
            left: 0;
            right: auto;

            // 三角形
            &::before {
                left: 5%;
                right: auto;
            }
        }

        // 提示 居右
        &.my-tooltip-right {
            right: 0;
            left: auto;

            // 三角形
            &::before {
                right: 5%;
                left: auto;
            }
        }
    }
}

/* 动画相关 start */
@keyframes sliding-out-from-right {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0%);
    }
}

@keyframes sliding-out-from-top {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0%);
    }
}

/* 动画相关 end */

/* 旋转 */
.rotate-x-90 {
    transform: rotateX(90deg);
    display: inline-block
}

.rotate-x-180 {
    transform: rotateX(180deg);
    display: inline-block
}

.rotate-x-270 {
    transform: rotateX(270deg);
    display: inline-block
}



/* 滚动 */
.scroll {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.scroll-y {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.scroll-x {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

// 鼠标浮动指针显示
.cursor-pointer {
    cursor: pointer;
}

/* 公共样式 end */