
/* 公共样式 start */

html, body {
  height: 100%;
  overflow: auto;
}

.application {
  height: 100%;
  overflow: auto;
  padding: var(--c-padding-level3)
}

/* 动画相关 start */
@keyframes sliding-out-from-right {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0%);
    }
}
@keyframes sliding-out-from-top {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0%);
    }
}

/* 动画相关 end */


/* 公共样式 end */

/* 主题样式 start */


/* 主题样式 end */


/* 自适应布局样式 start */

/* 自适应布局样式 end */