/**
    此文件用于放除尺寸和颜色之外的公用样式
*/

/* 公共样式 start */

.is-between {
    display: flex;
    justify-content: space-between;
    // align-items: center;
}

.is-around {
    display: flex;
    justify-content: space-around;
    // align-items: center;
}

.is-align-center {
    display: flex;
    align-items: center;
}

.is-align-items-right {
    display: flex;
    justify-content: right;
    align-items: end;
}

.column {
    padding: 0;
}

// 下拉组件
.my-dropdown {
    width: 100%;

    .dropdown-trigger {
        width: 100%;

        .button {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    .dropdown-menu {
        width: 100%;
        min-width: 10rem;

        .dropdown-item {
            display: flex;
            justify-content: space-between;
            align-items: center;

            &.has-hover:hover,
            &.has-active {
                color: var(--c-primary-lighten);
            }
        }
    }
}

// 表单样式
.my-form {
    .form-item {
        padding-bottom: var(--c-padding-level5);

        .form-item-title {
            font-size: var(--c-fontsz-level4);
            color: var(--c-font-lighten);
            padding-bottom: var(--c-padding-level2);
        }

        .form-item-content {

        }
    }
}

.navbar-item img {
    max-height: none;
}

/* 动画相关 start */
@keyframes sliding-out-from-right {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0%);
    }
}

@keyframes sliding-out-from-top {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0%);
    }
}

/* 动画相关 end */

/* 旋转 */
.rotate-x-90 {
    transform: rotateX(90deg);
    display: inline-block
}

.rotate-x-180 {
    transform: rotateX(180deg);
    display: inline-block
}

.rotate-x-270 {
    transform: rotateX(270deg);
    display: inline-block
}


/* 滚动 */
.scroll {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.scroll-y {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.scroll-x {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

// 鼠标浮动指针显示
.cursor-pointer {
    cursor: pointer;
}

/* 公共样式 end */

// flex
.spacer {
    flex-grow: 1 !important;
    -webkit-box-flex: 1 !important;
}

// 换行
.break-word {
    word-wrap: break-word!important;
}
// 
.modal-card-title {
    flex-shrink: initial;
}
// 全局修改下拉框图标样式
.select:not(.is-multiple):not(.is-loading)::after {
    font-family: "iconfont", serif;
    content: '\e625' !important;
    transform: initial;
    transform-origin: center;
    width: 6px;
    height: 6px;
    border: 0;
    right: 20px;
}

/* Start Tabs控件 */
.tabs li:not(.is-active) a {
    border: none;
}

.tabs li:not(.is-active) a:hover {
    border: none;
}
