@charset "utf-8";

//白色主题start
//主题色start
$white-main-color: var(--primary-lighten);//#00BDBD;
//主题色end

//标准色start
$white-standard-green:var(--success-lighten);//#2AD7AA;
$white-standard-red:var(--error-lighten);//#F57340;
//标准色end

//标记色start
$white-marker-color-green:var(--success-lighten1);//#22B992;
$white-marker-color-red:var(--error-lighten1);//#CB5F35;
//标记色end

//背景色start
$white-background-color-once-level:var(--background-lighten);//#EDF1F1;
$white-background-color-second-level:var(--background-lighten1);//#FFFFFF;
$white-background-color-three-level:var(--background-lighten2);//#F1F6F6;
$white-background-mask:var(--mode-lighten);//rgba(16, 18, 23, .8);
//背景色end

//字体颜色start
$white-font-color-title:var(--font-lighten);//#081111;
$white-font-color-conent:var(--font-lighten1);//#869595;
$white-font-color-light:var(--font-lighten2);//#A2ADAD;
//字体颜色end

// 线
$white-line1:var(--line-lighten);//EFF5F5
$white-line2:var(--line-lighten1);//#E9ECEC
$white-line3:var(--line-lighten2);//#E9ECEC

//选中-高亮
$white-list-color:var(--background-lighten5);//#F7FBFB;
//白色主题end



//黑色主题start
//主题色start
$black-main-color:var(--primary-darken);//#00BDBD;
//主题色end

//标准色start
$black-standard-green:var(--success-darken);//#22B992;
$black-standard-red:var(--error-darken);//#CB5F35;
//标准色end

//背景色start
$black-background-color-once-level:var(--background-darken);//#101217;
$black-background-color-second-level:var(--background-darken1);//#171A21;
$black-background-color-three-level:var(--background-darken2);//#1E222B;
$black-background-mask:var(--mode-darken);//rgba(16, 18, 23, .8);
//背景色end

//字体颜色start
$black-font-color-title:var(--font-darken);//#E9E9E9;
$black-font-color-conent:var(--font-darken1);//#555A69;
$black-font-color-light:var(--font-darken2);//#414450;
//字体颜色end

//选中-高亮
$black-list-color:var(--background-darken4);//#20252F;

// 线
$black-line1:var(--line-darken);//#1D212B;
$black-line2:var(--line-darken1);//#2C3240;
$black-line3:var(--line-darken2);//#2C3240;
//黑色主题end


// Import only what you need from Bulma
@import "../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../node_modules/bulma/sass/base/_all.sass";
@import "../../node_modules/bulma/sass/elements/button.sass";
@import "../../node_modules/bulma/sass/elements/container.sass";
@import "../../node_modules/bulma/sass/elements/title.sass";
@import "../../node_modules/bulma/sass/elements/table.sass";
@import "../../node_modules/bulma/sass/elements/icon.sass";
@import "../../node_modules/bulma/sass/elements/box.sass";
@import "../../node_modules/bulma/sass/elements/tag.sass";
@import "../../node_modules/bulma/sass/elements/other.sass";


@import "../../node_modules/bulma/sass/form/_all.sass";

@import "../../node_modules/bulma/sass/components/navbar.sass";
@import "../../node_modules/bulma/sass/components/modal.sass";
@import "../../node_modules/bulma/sass/components/tabs.sass";
@import "../../node_modules/bulma/sass/components/card.sass";
@import "../../node_modules/bulma/sass/components/level.sass";
@import "../../node_modules/bulma/sass/components/dropdown.sass";
@import "../../node_modules/bulma/sass/components/message.sass";
@import "../../node_modules/bulma/sass/components/menu.sass";


@import "../../node_modules/bulma/sass/layout/hero.sass";
@import "../../node_modules/bulma/sass/layout/section.sass";
@import "../../node_modules/bulma/sass/layout/footer.sass";

@import "../../node_modules/bulma/sass/grid/_all.sass";
