@charset "utf-8";

@import './styles_public.scss';

//此文件主要内容为界面模块相关样式，建议不要直接修改，可在mystyles.scss中进行样式覆盖

//自定义变量 start

$tradingview-bg: #e7ebee;

//自定义变量 end




//html标签样式覆盖 start

button {
    outline: none;
}

hr {
    @extend %my-3;
}

//html标签样式覆盖 end

//动画相关 start
@keyframes sliding-out-from-right {
    from {transform:translateX(100%);}
    to {transform:translateX(0%);}
}
@keyframes sliding-out-from-top {
    from {transform:translateY(-100%);}
    to {transform:translateY(0%);}
}

//动画相关 end



// 通用类名 start

.opacity-0{
    opacity: 0;
    cursor: default;
}

.spacer {
    flex-grow: 1!important;
    -webkit-box-flex: 1!important;
}
.cursor-pointer {
    cursor: pointer;
}

// 通用类名 end


// UI库样式覆盖 start
.modal-card {
    max-width: 90%;
}
// UI库样式覆盖 end

//消息弹框样式 start
.window-message-box {
    position: fixed;
    z-index: 999;
    
    article {
        @extend %pa-0;
        @extend %side-ma;

        transition: all .2s;
        animation:sliding-out-from-right 0.2s;
    }
}

//消息弹框样式 end


//覆盖ui样式start

.button-default-padding{
    @extend %px-4;
}

//table子项垂直居中start
.table-tr-td-vertical{
    vertical-align: middle !important;
}
//table子项垂直居中end

//覆盖ui样式end
//header样式 start

.pub-header {
    @extend %box-shadow;
}

//header样式 end

//pc端主体结构样式 start
//买入卖出样式start

//买入卖出样式end
.pub-layout {
    @extend %pa-2;

    .pub-layout-header-tick {
        @extend %pa-2;
    }

    .pub-layout-content {
        // display: flex;
        // flex-direction: column;
        height: 100%;
        
        .pub-layout-content-left {
            width: calc(100% - 350px);
            min-width: 900px;

            .pub-layout-content-left-kline {
                @extend %pa-2;
                width: calc(100% - 350px);
                height: 605px;
            }

            .pub-layout-content-left-dish {
                @extend %pa-2;
                width: 350px;
                height: 605px;
            }

            .pub-layout-content-left-list {
                @extend %pa-2;
                width: 100%;
                height: calc(100% - 605px);
            }
        }

        .pub-layout-content-right {
            width: 350px;

            .pub-layout-content-right-place-order {
                @extend %pa-2;
            }

            .pub-layout-content-right-wallet {
                @extend %pa-2;
            }

            .pub-layout-content-right-spot-info {
                @extend %pa-2;
            }
        }

        
    }
}

//pc端主体结构样式 end

//移动端主体结构样式 start
.pub-layout-m-header {
    // z-index: 1;

    .navbar-item {

        .iconfont {
            @extend %iconfont-large;
        }
    }

    .pub-layout-m-header-menu {
        @extend %px-3;
    }
    
}

.pub-layout-m {
    @extend %py-2;
    margin-top: 3.25rem;

    .pub-layout-m-content {
        @extend %mb-2;
        
        .pub-layout-m-content-left {
            @extend %pr-2;
            width: 50%;
        
        }
        .pub-layout-m-content-right {
            @extend %pl-2;
            width: 50%;
        
        }
        .pub-trade-list {
            @extend %ma-0;
        }
    }
}

//移动端主体结构样式 end

//头部行情模块样式 start
.pub-header-tick {
    @extend %side-pa;
    z-index: 1;

    .pub-header-tick-left {
        white-space: nowrap;
        display: flex;
        align-items: center;

        > * {
            @extend %mr-3;
        }
        

        .dropdown {
            button {
                @extend %py-0;
                @extend %font-11;
                height: auto;
            }
        }

        .pub-header-tick-left-pre-prz  {
            @extend %font-10;
        }


        table {
            @extend %font-2;
            display: inline-table;


            td {
                @extend %pr-3;
            }
        }
    }

    .pub-header-tick-right {

        .iconfont {
            @extend %iconfont-large;
        }
    }
}
//头部行情模块样式 start

// 交易对下拉 start
.pub-sym-select {

    .dropdown-trigger {
        display: flex;
        align-items: center;
    }

    .dropdown-menu {
        @extend %box-shadow;
        max-height: 500px;
        overflow: auto;
        .dropdown-content {
            width: 640px;
            max-width: 100%;

            .dropdown-item {
                cursor: pointer;
                > div:not(.spacer){
                    width: 33.33%
                }
            }
        }
    }

    .dropdown-select{
        @extend %pt-0;
    }
}

.dropdown-paddng-top{
    @extend %pt-0;
}
// 交易对下拉 end


//k线模块 start

.pub-kline  {
    @extend %side-pa;
    height: 100%;
    hr {
        @extend %ma-0;
        height: 1px;
    }


    .pub-kline-iframe_m {
        height: 100%;
    }
    .pub-kline-iframe {
        height: calc(100% - 40px);
    }

    .pub-kline-btns {
        @extend %ma-0;
        display: flex;
        >*{
            flex: 1;
        }

        button {
            @extend %ma-0;
            border-radius: 0;
            // border-bottom: 0;
            border-color: $tradingview-bg;
        }
        .dropdown-menu {
            z-index: 99;
            .dropdown-content {
                @extend %pa-0;
                
                button {
                    width: 50%;
                }
                
            }
        }

        
    }

    .pub-kline-btns-pc {
        display: flex;
        align-items: center;
    }

    #tv_chart_container {
        height: 100%;
        // border: 1px solid $tradingview-bg;
    }
}

// k线模块 end


//pc端盘口和最新成交结构样式 start

.pub-dish-and-new-trade  {
    @extend %pa-0;
    height: 100%;

    .pub-dish-and-new-trade-tabs {
        @extend %pa-3;
        @extend %ma-0;
    }
}
//pc端盘口和最新成交结构样式 end

//盘口相关样式 start

.pub-dish {
    .pub-dish-list-item {
        @extend %ma-0;
        @extend %py-2;
        @extend %px-3;
        @extend %font-2;
        position: relative;

        div {
            z-index: 1;
            width: 33.33%;
            p{
                cursor: pointer;
            }
        }

        div:nth-child(2) {
            text-align: center;
        }

        .pub-dish-list-item-mode {
            height: 100%;
            width: 0;
            position: absolute;
            top: 0;
            right: 0;
            z-index: 0;
            opacity: .2;
        }
    }

    .pub-dish-tick {
        @extend %px-3;

        div {
            @extend %ma-0;
        }
    }

    .pub-dish-bottom {
        @extend %pa-3;
        
        button {
            @extend %mb-0;
        }
    }
}

.pub-layout-m {
    .pub-dish {
        .pub-dish-list-item {
            @extend %pl-2;
            @extend %pr-3;
            div:not(.pub-dish-list-item-mode) {
                width: 50%;
            }
            div:nth-child(2) {
                text-align: right;
            }
        }
        .pub-dish-tick {
            @extend %pl-2;
            @extend %pr-3;
    
            div {
                @extend %ma-0;
            }
        }
        .pub-dish-select {
            @extend %mt-2;
            @extend %pr-3;
            width: 100%;

            .dropdown-trigger {
                width: 100%;
            }
        }
    }
}


//盘口相关样式 end

//最新成交相关样式 start
.pub-new-trade {

    .pub-new-trade-list {

        .pub-new-trade-list-item {
            @extend %ma-0;
            @extend %py-2;
            @extend %px-3;
            @extend %font-2;

            div {
                width: 33.33%;
            }
    
            div:first-child p{
                width: 100%;
                text-align: left;
            }
    
            div:last-child p{
                width: 100%;
                text-align: right;
            }
        }
    }
}
//最新成交相关样式 end

//下单面板相关 start
.pub-place-order {
    @extend %side-pa;

    .pub-place-order-tabs {
        @extend %mb-3;
    }

    .pub-place-order-form {

        .button-default-width{
            width: 100%;
        }
        .button-width{
            width: 45%;
        }

        .pub-place-order-form-lever-input {
            input {
                cursor: pointer;
            }
        }

        .pub-place-order-form-num-input {


            .pub-place-order-form-num-input-face-value {
                @extend %font-2;
            }
        }

        .pub-place-order-form-stop-pl {

            .pub-place-order-form-stop-pl-label {
                @extend %font-2;
            }

            .pub-place-order-form-stop-pl-input {
                .pub-place-order-form-stop-pl-input-center {
                    width: 30px;
                    line-height: 40px;
                    text-align: center;
                }
            }

        }
        

        .pub-place-order-form-need-mgn {
            @extend %font-2;
        }

        .pub-place-order-form-wallet {
            @extend %font-2;
        }
        
    }
}

.pub-place-order-m {
    @extend %pl-3;
    @extend %pr-2;
    height: 100%;

    .pub-place-order-tabs {
        @extend %mb-3;
    }
    
    .pub-place-order-select {
        width: 100%;
        .dropdown-trigger {
            width: 100%;
            button {
                @extend %pa-0;
                div {
                    text-align: left;
                    width: 100%;
                }
            }
        }
        
    }

    .pub-place-order-form {
        height: calc(100% - 40px);
        display: flex;
        flex-direction: column;//row-reverse;//row | row-reverse | column | column-reverse;


        .pub-place-order-form-lever-input {
            input {
                cursor: pointer;
            }
        }

        .pub-place-order-form-num-input {


            .pub-place-order-form-num-input-face-value {
                @extend %font-2;
            }
        }

        .pub-place-order-form-stop-pl {

            .pub-place-order-form-stop-pl-label {
                @extend %font-2;
            }

            .pub-place-order-form-stop-pl-input {
                .pub-place-order-form-stop-pl-input-center {
                    width: 30px;
                    line-height: 40px;
                    text-align: center;
                }
            }

        }
        

        .pub-place-order-form-need-mgn {
            @extend %font-2;
        }

        .pub-place-order-form-wallet {
            @extend %font-2;
        }
        
    }
}
//下单面板相关 end

// 仓位选择 start
.pub-select-pos {

    .pub-select-pos-open-btn {
        @extend %pa-0;
        width: 100%;
        height: auto;

        div {
            width: 100%;

            .icon:last-child:not(:first-child) {
                @extend %ma-0;
            }
        }
    }

    .pub-select-pos-model {

        .pub-select-pos-model-content {

            table {
                min-width: 100%;

                td {
                    white-space:nowrap;
                }
            }
        }
    }
}
.pub-layout-m {
    .pub-select-pos {
        @extend %px-3;
    }
}
// 仓位选择 end


// 杠杠调整 start
.pub-set-lever {

    .pub-set-lever-content {

        .pub-set-lever-content-mm {
            @extend %my-3;
        }
    }
}
// 杠杠调整 end

//移动端列表 start
.pub-layout-m{
    @extend %py-2;
    margin-top: 3.25rem;
}
.card-content{
    @extend %pa-3;
}
.delegation-list-phistory{
    @extend %font-6;
}
.text-none{
    text-align: center;
    @extend %font-4;
    display: flex;
    flex-direction: column;
    padding-top: 45%;
}
.icon-right-i{
    width: 2rem;
}

//筛选框样式 start
.a-text-left{
    text-align: left;
    @extend %side-px;
    @extend %py-2;
}

.pub-order-m{
    @extend %pl-0;
}

.scroll-y{
    max-height: 194px;
    overflow-y: scroll;
    width: 100%;
}

//筛选框样式 end
.transform-for-icon{
    transform: rotate(180deg);
    -ms-transform:rotate(180deg); /* Internet Explorer */
    -moz-transform:rotate(180deg); /* Firefox */
    -webkit-transform:rotate(180deg); /* Safari 和 Chrome */
    -o-transform:rotate(180deg);
}

.mobile-list{
    width: 100%;
    @extend %pa-3;
    @extend %side-my;

    .theadList-transaction{
        display: flex;
        justify-content:space-between;
        text-align: left;

        .theadList-transaction-p1{
            @extend %font-4;
        }
        .theadList-transaction-p2{
            @extend %font-3;
        }
    }

    .theadList-profit-loss{
        display: flex;
        justify-content:space-between;
        text-align: left;
        @extend %side-mt;
        @extend %font-1;

        .theadList-profit-loss-p1,
        .theadList-profit-loss-p2{
            width: 50%;
        }
        .text-right{
            text-align: right;
        }
        .theadList-profit2{
            display: flex;
            justify-content: start;
        }
        .fomt-blacl{
            align-items: center;
        }
    }

    .mobile-div{
        @extend %font-5;
    }

    .mobile-font{
        display: inline-block;
        @extend %pl-2;
        @extend %font-1;
    }

    .theadList-time{
        width: 50%;
        text-align: right;
    }
}

.theadList-profit3{
    display: flex;
    justify-content: space-between;
}
//移动端列表 end
.pub-layout-m-details{
    @extend %side-px;
}

//移动端详情 start
.table-list{
    width: 100%;
}

.font-right{
    text-align: right;
}

.title-header{
    width: 50%;
}

.header-flex{
    display: flex;
    justify-content: start;
    @extend %font-2;
}

.padd-left{
    @extend %pl-4;
}

.flex-right{
    display: flex;
    justify-content: space-between;
}

.ord-pad{
    @extend %pr-3;
}
.details-header{
     
    .navbar-item{
        display: inline-block;
        @extend %side-pa;
    }

    //中间内容
    .details-body{

        .details-body-list{
            @extend %pb-3;
            display: flex;
            justify-content: space-between;

            .details-body-title{
                @extend %font-5;
            }

            .details-body-title2{
                @extend %font-3;
            }
        } 

        .details-body-conent{
            @extend %side-py;
            display: flex;
            justify-content: space-between;

            .font-div{
                @extend %font-3;
                width: 50%;

                .font-p{
                    @extend %font-3;
                }

                .p-only{
                    text-align: right;
                }
            }

            .font-div-bottom{
                @extend %font-3;
            }
        }

        .bottom-sty{
            @extend %pt-3;
            @extend %font-5;

        }
    }
}


//移动端详情 end
//移动端搜索框
.search-bar{
    width: 100%;
    z-index: 999;
    @extend %box-shadow;
    position: fixed;
    top: 0;
    left: 0;
    @extend %side-pa;
}
    .modal-card-body-list{
        @extend %side-pa;
    }
    .search-bar-header{
        display: flex;
        justify-content: space-between;
    }

    .search-gmex{
        @extend %font-5;
    }

    .search-bi-name{
        @extend %pt-3;
    } 
       
    .search-bi-name-p{
        @extend %font-3;
        @extend %pb-3;
    }

    .search-k-d{
        width: 100%;
    }

    .select-sty{
        width: 100%;
        @extend %font-3;
    }

    .option-list{
        @extend %font-3;
    }

    //重置完成按钮
    .reset-complete{
        width: 100%;
        display: flex;
        justify-content: space-around;
        @extend %pt-3;
    }

    .reset-button{
        width: 48%;
        height: 35px;
    }

    .button-styl{
        width:29%;
        height:28px;
        @extend %font-2; 
        @extend %mb-3;
        &:not(:last-child){
            @extend %mr-3;
        }
    }

//k线页面样式start
.kline-top{
    @extend %side-px;
    display: flex;
    justify-content: space-between;
    height:100%;
    

    .spotTick{
        display: flex;
        justify-content: start;

        .spotTick-left{
            @extend %font-8;
            @extend %font-weight-bold;
        }

        .spotTick-right{
            display: inline-block;
            @extend %pl-3;
            line-height: 2.3;
        }
    }

    .spotTick-buttom{
        display: flex;
        justify-content: start;
    }
}

.width-div-right{
    width: 50%;
}
.width-div-left{
    width: 70%;
}
.width-curren{
    width: 65%;
}
.font-textalent-right{
    text-align: right !important;
}

.table-width{
    width: 100%;
}

.table-margin{
    // display: inline-block;
    @extend %pt-4;
}
.table-margin2{
    // display: inline-block;
    @extend %pt-2;
}
//通用字体大小start
.currency-font{
    @extend %font-2;
}

.button-sty-pad{
    @extend %pa-2;
}
.centent-a-default{
    @extend %font-5;
}

.centent-a{
    @extend %font-7;
}
//通用字体大小end
//多元
.langageus-text{
    display: flex;
    justify-content: space-between;
    @extend %side-pa;
}
//首页仓位选择框样式start
.pos-id{
    @extend %side-mb;
}

.card-first-head{
    max-height: 600px;
    overflow-y: scroll;
}

//首页仓位选择框样式end
.pos-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.level-right-m{
    @extend %mt-0;
}

.kLine-body-list{
    height: 100%;
    overflow-y: scroll;
}
//k线页面样式end




// pc端列表 start
.pub-trade-list {
    @extend %side-pa;

    .pub-trade-list-tabs {
        @extend %mb-3;
    }

    
    .table-container {
        overflow-x: auto;
        overflow-y: hidden;
        width: 100%;
        height: 391px;
        .pub-table-head-box {
            min-width: 100%;
            overflow-x: hidden;
            overflow-y: scroll;
            table {
                min-width: 100%;
                @extend %ma-0;
                tr{
                    td,th {
                        @extend %px-0;
                    }
                }
            }
        }
        
        .pub-table-body-box {
            overflow-x: hidden;
            overflow-y: scroll;
            height: 335px;
            min-width: 100%;
            table {
                min-width: 100%;
                tr{
                    td,th {
                        @extend %px-0;
                    }
                }
            }
        }
    }

    
}
// pc端列表 end

// 仓位列表 start
.pub-pos {

    .pub-pos-change-lever {
        @extend %font-2;
        display: flex;
        align-items: center;
        cursor: pointer;

        > *{
            @extend %pr-2;
        }

        
    }

    .pub-pos-stoppl {
        cursor: pointer;

        > *{
            @extend %pr-2;
        }
    }

    .pub-pos-buttons {
        button:not(:last-child) {
            @extend %mr-3;
        }
    }

    .pub-pos-changeMgn {
        cursor: pointer;

        > *{
            @extend %pr-2;
        }
    }
}

.pub-layout-m {
    .pub-trade-list {
        .pub-pos {
            overflow: visible;
            .card:not(:last-child) {
                @extend %mb-3;
            }

            .card {
                .card-header {
                    .card-header-title {
                        @extend %pa-3;
                        
                    }
                }
                .card-content {
                    @extend %pa-3;

                    .pub-pos-m-content-header {
                        @extend %mb-3;
                        display: flex;
                        align-items: center;
                        > *{
                            @extend %pr-3;
                        }

                        // .pub-pos-change-lever {
                        //     display: flex;
                        //     align-items: center;
                        //     > *{
                        //         @extend %pr-2;
                        //     }
                        // }
                    }
                    .pub-pos-m-content {
                        @extend %font-2;
                    }
                }
            }
            
        }   
    }
    
}
// 仓位列表 end

// 委托列表 start 
// .pub-order {
    
// }
.pub-layout-m {
    .pub-trade-list {
        .pub-order {
            overflow: visible;

            .card:not(:last-child) {
                @extend %mb-3;
            }
            .card-content {
                @extend %pa-3;
                .pub-order-m-content-header {
                    display: flex;
                    align-items: center;
            
                    .pub-order-change-lever {
                        @extend %font-2;
                    }
                }
                
                
                .pub-order-m-content {
                    @extend %font-2;
                    @extend %py-3;
                }
            
                .pub-order-m-content-footer {
                    display: flex;
                    align-items: center;
            
                }
            }
            
        }
    }
}
.pub-layout-m {
    .pub-trade-list {
        .pub-plan {
            overflow: visible;

            .card:not(:last-child) {
                @extend %mb-3;
            }
            .card-content {
                @extend %pa-3;
                .pub-plan-m-content-header {
                    display: flex;
                    align-items: center;
            
                    .pub-plan-change-lever {
                        @extend %font-2;
                    }
                }
                
                
                .pub-plan-m-content {
                    @extend %font-2;
                    @extend %py-3;
                }
            
                .pub-plan-m-content-footer {
                    display: flex;
                    align-items: center;
            
                }
            }
            
        }
    }
}
// 委托列表 end

// 合约信息 start
.pub-spot-info {
    @extend %side-pa;

    .pub-spot-info-tabs {
        @extend %mb-3;
    }

    .pub-spot-info-content {
        @extend %font-2;

        .level:not(:last-child) {
            @extend %mb-3;
        }
    }
}
// 合约信息 end

// 资产模块 start
.pub-wallet-box {
    @extend %side-pa;
    height: 303px;

    .pub-wallet-box-tabs {
        @extend %mb-3;
    }

    .pub-wallet-content {
        @extend %font-2;

        .level:not(:last-child) {
            @extend %mb-3;
        }
    }
}
.pub-wallet {

    .pub-wallet-content {
        @extend %font-2;

        .level:not(:last-child) {
            @extend %mb-3;
        }
    }
}
// 资产模块 end

// 划转 start
.pub-transfer {
    .dropdown {
        width: 100%;
        .dropdown-trigger {
            width: 100%;

            .button-content {
                width: 100%;
            }
        }

        .dropdown-menu {
            @extend %box-shadow;
            width: 100%;
            max-height: 300px;
            overflow: auto;

        }
    }

    .pub-transfer-transfer-select {
        
        .pub-transfer-transfer-select-center {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .pub-transfer-wlt {
        text-align: left;
    }
}
// 划转 end

// 手机端k线页面 start
.pub-m-kline-box {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 31;
    transform: translateX(100%);
    transition: all .2s;
    overflow: auto;
}

//新增k线顶部样式 start
.conent-div-top{
    height:7%;
    width:100%;
}
//新增k线顶部样式 end


.pub-m-kline-box.open {
    transform: translateX(0);
}
// 手机端k线页面 end

// 屏幕适配相关 start
@media screen and (min-width: 1025px){
    body > section {
        min-width: 1280px;
        min-height: 100%;
        margin-top: 3.25rem;
    }

    //消息弹框样式 start
    .window-message-box {
        position: fixed;
        bottom: 0;
        right: 0;
        width: 300px;
        z-index: 999;
    }

    //消息弹框样式 start


    .pub-kline  {
        min-width: 886px;
    }
}
@media screen and (max-width: 1024px){
    .pub-header-tick {
        .pub-header-tick-left {
            .dropdown {
                button {
                    font-size: inherit;
                }
            }
        }
    }

    .pub-trade-list {
        div:nth-child(2) {
            height: auto;
        }
    }

    //消息弹框样式 start
    .window-message-box {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 999;

        article {
            position: absolute;
            top: 0;
            left: 0;
            width: calc(100% - 24px);
            transition: all .2s;
            animation:sliding-out-from-top 0.2s;

            .message-header {
                border-radius: 4px;
            }
        }
    }

    //消息弹框样式 start

    .pub-sym-select {
        position: inherit;

        .dropdown-menu {
            max-width: 100%;
        }
    }
}
// 屏幕适配相关 end
