@charset "utf-8";

$modal-background-background-color: rgba(0, 0, 0, .4);

//白色主题start
//主题色start
$white-main-color:#00BDBD;
//主题色end

//标准色start
$white-standard-green:#2AD7AA;
$white-standard-red:#F57340;
//标准色end

//标记色start
$white-marker-color-green:#22B992;
$white-marker-color-red:#CB5F35;
//标记色end

//背景色start
$white-background-color-once-level:#EDF1F1;
$white-background-color-second-level:#FFFFFF;
$white-background-color-three-level:#F1F6F6;
$white-background-mask:rgba(16, 18, 23, .8);
//背景色end

//字体颜色start
$white-font-color-title:#081111;
$white-font-color-conent:#869595;
$white-font-color-light:#A2ADAD;
//字体颜色end

//选中-高亮
$white-list-color:#F7FBFB;
// 下边线
$white-border-bottom:#EFF5F5;
//白色主题end



//黑色主题start
//主题色start
$black-main-color:#00BDBD;
//主题色end

//标准色start
$black-standard-green:#22B992;
$black-standard-red:#CB5F35;
//标准色end

//背景色start
$black-background-color-once-level:#101217;
$black-background-color-second-level:#171A21;
$black-background-color-three-level:#1E222B;
$black-background-mask:rgba(16, 18, 23, .8);
//背景色end

//字体颜色start
$black-font-color-title:#E9E9E9;
$black-font-color-conent:#555A69;
$black-font-color-light:#414450;
//字体颜色end

//选中-高亮
$black-list-color:#20252F;

// 下边线
$black-border-bottom:#1D212B;
//黑色主题end


// Import only what you need from Bulma
@import "../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../node_modules/bulma/sass/base/_all.sass";
@import "../../node_modules/bulma/sass/elements/button.sass";
@import "../../node_modules/bulma/sass/elements/container.sass";
@import "../../node_modules/bulma/sass/elements/title.sass";
@import "../../node_modules/bulma/sass/elements/table.sass";
@import "../../node_modules/bulma/sass/elements/icon.sass";
@import "../../node_modules/bulma/sass/elements/box.sass";
@import "../../node_modules/bulma/sass/elements/tag.sass";
@import "../../node_modules/bulma/sass/elements/other.sass";


@import "../../node_modules/bulma/sass/form/_all.sass";

@import "../../node_modules/bulma/sass/components/navbar.sass";
@import "../../node_modules/bulma/sass/components/modal.sass";
@import "../../node_modules/bulma/sass/components/tabs.sass";
@import "../../node_modules/bulma/sass/components/card.sass";
@import "../../node_modules/bulma/sass/components/level.sass";
@import "../../node_modules/bulma/sass/components/dropdown.sass";
@import "../../node_modules/bulma/sass/components/message.sass";
@import "../../node_modules/bulma/sass/components/menu.sass";


@import "../../node_modules/bulma/sass/layout/hero.sass";
@import "../../node_modules/bulma/sass/layout/section.sass";
@import "../../node_modules/bulma/sass/layout/footer.sass";

@import "../../node_modules/bulma/sass/grid/_all.sass";
