.header-download .dropdown-menu {
    width: 224px;
    height: 104px;
}

@media screen and (min-width: 320px) and (max-width: 480px) {

    // .header-download .dropdown-menu {
    //     width: 224px;
    //     height: 104px;
    // }
    .top-title-one {
        margin-left: var(--c-margin-level7);
        margin-right: var(--c-margin-level7);
    }

    .top-title-two {
        margin-left: var(--c-margin-level8);
        margin-right: var(--c-margin-level8);
        font-weight: var(--c-fontweight-level1);
    }

    .top-button-transaction {
        width: 120px;
        height: 28px;
        font-size: var(--c-fontsz-level4);
    }
    .top-button-register{
        font-size: var(--c-fontsz-level5);
    }
}