.input-with-components {
    
    input, input.input {
        min-width: 145px;
    }
    .without-border {
        border: none;
        box-shadow: 0 0 0 0 !important;
        border-radius: 0;
    }

    input.in-input {
        padding: var(--c-padding-level2) !important;
    }

    input.without-border {
        height: calc(100% - 4px);
    }

    input.without-border:focus {
        box-shadow: initial !important;
        border-color: initial !important;
    }

    .line {
        width: 1px;
        height: 100%;
        padding-left: 2px;
    }

    .line {
        background: var(--c-line-lighten1);
    }
}