.views-page-login-send-code {
    white-space: nowrap !important;
    color: var(--c-primary-lighten);
}

.views-page-login-box-width {
    width: 364px;
}

.views-page-login-div-click {
    cursor: pointer;
}

.views-page-login-title.opacity {
    opacity: 0.12;
}

.views-page-register-checkbox-label {
    vertical-align: top;
}