.views-red-packet-detail {
    padding-bottom: 70px;
    
    .pub-layout {

        .views-receive-result-footer {
            position: fixed;
            bottom: 0;
            width: 100%;
            height: 70px;

        }
    }
}