.views-page-accountsecurity-modifyLoginPassword-changePassword {
    .changePassword_background {
        width: 1204px;
        height: 517px;
    }
    .bind-content {
        .bind-content-main {
            width: 384px;
            margin: 0 auto;
            .bind-save-btn {
                width: 100%;
            }
        }
    }
}
