.views-page-accountsecurity-modifyLoginPassword-changePassword {
    .changePassword_background {
        width: 1204px;
        height: 517px;
    }
    .changePassword_Input{
        text-align: center;
    }
}