.page-extract-coin-from {
  padding: 32px 64px;

  .form-block {
    width: 384px;

    .formModule {
      margin-bottom: 32px;

      .topLabel {
        line-height: 20px;
        margin-bottom: 8px;

        span {
          vertical-align: middle;
        }
        i {
          vertical-align: middle;
          cursor: pointer;
        }
      }

      .changeCoin {
        .select {
          position: relative;
          select{ // 币中选择
            color: var(--c-font-lighten1);
            //font-size: 14px;

            option {
              //font-size: 18px;
              font-size: var(--c-fontsz-level6);
              line-height: 20px;
            }
          }
        }
        .select:not(.is-multiple) {
          height: 100%;
        }
        .select:not(.is-multiple):not(.is-loading)::after {
          border: 0px;
        }
        i.iconfont {
          position: absolute;
          top: 50%;
          right: 10px;
          transform: translateY(-50%);
        }
      }

      .line-label input.input { // 标签 名
        //border-radius: 2px;
        color: var(--c-font-lighten3);
      }

      .dis-flex { // 链名称
        display: flex;

        .butItem {
          padding: 4px 12px;
          color: var(--c-primary-lighten);
          border-radius: 4px;
          border: 1px solid var(--c-primary-lighten);
          margin-right: 20px;
          cursor: pointer;

          div {
            height: 20px;
            line-height: 20px;
          }
        }
        .butItem.butItemActive {
          background-color: var(--c-primary-lighten);
          color: #ffffff;
        }
      }
      .item-space {
        justify-content: space-between;
      }

      .address input.input { // 提币地址
        color: #1E2846;
      }

      .extract-num { // 提取数量
        //margin-bottom: 4px;

        .input {
          padding-right: 80px;
        }

        .icon-right-all {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 12px;

          .clickAll {
            margin-left: 12px;
            color: var(--c-primary-lighten);
            cursor: pointer;
          }
        }

        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
        input[type=number] {
          -moz-appearance:textfield;
        }
      }

      .charge { //  手续费
        color: var(--c-font-lighten3);
        height: 17px;
        line-height: 17px;
        padding-top: 4px;
      }

      .errorToTal { // 错误提示
        color: var(--c-red-darken);
        padding-top: 8px;
      }
    }
  }

  .promptText {
    padding-top: 32px;
    color: var(--c-font-lighten3);

    .promptTitle {
      line-height: var(--c-fontsz-level4);
      margin-bottom: 8px;
    }

    .rulesText {
      line-height: 20px;
      //margin-bottom: 4px;
    }
    .rulesText:last-child {
      margin-bottom: 0px;
    }
  }
}