.views-pages-home-picture {
    margin-top: -205px;
    .home-picture-banner {
        height: 200px;
    }

    .home-picture {
        text-align: center;

    }

    .picture-layer {
        // margin-top: -200px;
    }
}


@media screen and (min-width: 768px) and (max-width: 969px) {
    .views-pages-home-picture {
        .picture-layer {
            margin-top: -100px;
        }
    }
}

@media screen and (max-width: 1300px) {
    .views-pages-home-picture {
        .button-prev{
            left: -30px;
        }
        .button-next{
            right: -30px;
        }
    }
}
