.views-pages-home-footer {

    .bottom-navigation-tab-1 {
        text-align-last: left;
        line-height: 27px;
    }

    .bottom-copyright {
        text-align: center;
    }
    .curPri {
        cursor: pointer;
    }

    .footer-logo {
        width: 150px;
        height: 50px;
    }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    .views-pages-home-footer {
        .pub-footer {
            .footer-content {
                .footer-menu-item {
                    cursor: pointer;
                }
            }
        }
        .pub-footer {
            .footer-content {
                .footer-menu-item {
                    cursor: pointer;
                }
            }
        }
    }
}

.pub-footer {
    .footer-content {
        .footer-menu-item {
            cursor: pointer;
        }
    }
}