.views-receive-result {
    .pub-layout {
        padding-bottom: 70px;
        position: relative;

        .views-receive-result-footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 70px;

            .views-receive-result-look-my-red-packet-btn {
                
            }
        }
    }
}