*{
    margin: 0;
    padding: 0;
}
.myWallet{
    width: 90%;
    margin: auto;
}
.myWallet-nav{
    display: flex;
    flex-direction: row;
}
.myWallet-nav input{
    margin-right: 3px;
}
.myWallet-nav img{
    margin-left: 20px;
    margin-right: 5px;
}
table{
    width: 100%;
}
td{
    width: 5%;
    padding:5px 0;
}
a{
    color: #FF8B00;
    margin-right: 15px;
}
