.views-pages-home-top {
    border-radius: 0 0 100% 100% / 50%;
    overflow: hidden;
    // height: 1113px;
    height: 913px;
    
    .top-bottom-box {
        padding-bottom: 100px;
        .top-banner {
            height: 200px;
        }
    }
}
@media screen and (min-width: 320px) and (max-width: 480px){
    .views-pages-home-top{
        height: 480px;
    }
    // .pages-home-advantage{
    //     background: var(--c-background-darken2);
    // }
    .platform-advantages-1{
        background: var(--c-background-lighten2);
        width: 311px;
    }
}