.logSheet-block {
  width: 592px;

  .logText {
    ont-weight: normal;
    //font-size: 12px;
    line-height: 20px;
    //color: #9A9EAC;
  }

  .logAddress {
    font-weight: 600;
    //font-size: 14px;
    line-height: 20px;
    color: #585E71;

  }
}