.views-components-indexHeader{
    height: 52px;
    border-width: 1px;
    border-style: solid;
    margin: 0 !important;
    border-bottom: none;
    ul{
        li{
            border-bottom-color: none;;
            border-bottom-width: 1px;
            border-bottom-style: solid !important;
            a{
                height: 51px;
            }
        }
    }
}