.views-pages-myassets-header{
    a{
        height: 52px;
        border: none;
    }
    ul{
        border: none;
        li{
            border-bottom-width: 1px;
            border-bottom-style: solid !important;
        }
    }
}