<!DOCTYPE html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/mystyles.css">
    <html class="has-navbar-fixed-top">
    <link rel="stylesheet" href="/libs/iconfont/iconfont.css">
</head>

<body>
    <div id="app"/>
    <script type="text/javascript" src="/libs/tradingview/charting_library.min.js"></script>
    <script type="text/javascript" src="/libs/iconfont/iconfont.js"></script>

</body>


