.views-page-selfManage-antiFishingCode{
    .operation{
        height: 57px;
        div{
            line-height: 57px;
        }
    }
    .center{
        height: 404px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        .leftDiv{
            button{
                outline: none;
                border: none;
                width: 381px;
                height: 44px;
            }
        }
        .rightDiv{
            width: 272px;
            height: 340px;
            span{
                display: block;
            }
            .weightSix{
                font-weight: 600;
            }
        }
    }
}