.views-page-selfManage-antiFishingCode{
    .operation{
        height: 57px;
        div{
            line-height: 57px;
        }
    }
    .center{
        height: 308px;
        div{
            width: 384px;
        }
        button{
            outline: none;
            border: none;
            width: 381px;
            height: 44px;
        }
    }
}