// modal弹框 组件
.my-modal {
    > div:not(:first-child) {
        z-index: 1;
    }

    &.my-modal-flex-end {
        justify-content: flex-end;
    }

    &.theme--light {
        background-color: initial;
    }

    .my-modal-content {
        width: 70%;
        border-radius: var(--c-radius-level1);
    }

    .modal-card {
        // width: 448px;
    }

    .modal-card-head {
        border-bottom: none;

        .modal-card-title {
        }

        .icomBox {
            width: var(--c-iconsz-level3);
            height: var(--c-iconsz-level3);
            border-radius: 50%;
          }
    }

    .modal-card-foot {
        border: none;
        .button:not(:last-child) {
            margin-right: 17px;
        }
        .button {
            width: 100%;
        }
    }
}