.views-give-red-packet-detail {
    &.has-bottom-btn {
        padding-bottom: calc(70px + 12px);
    }
    
    .pub-content {

        .views-receive-result-footer {
            position: fixed;
            bottom: 0;
            width: 100%;
            height: 70px;

        }
    }
}