.views-pages-myassets-myWalletIndex{
    margin: auto;
    .columns-flex{
        display: flex;
        flex-wrap: wrap;
    }
    .head{
        border-bottom: 1px solid rgba(255, 255, 255, 0.04);
    }
    .myWalletIndex-head{
        .myWalletIndex-head-left{
            .myWalletIndex-head-left-total{
                .myCoinSelect{
                    button{
                        background:none;
                        outline: none;
                        border: none;
                        // color: #FF8B00;
                        height: 30px;
                        border-color: transparent;
                        box-shadow:none;
                    }
                }
            }
        }
    }
    .myWalletIndex-switch{
        .wallet{
            border-radius: 4px;
            display: flex;
            flex-direction: column;
        }
        .trade{
            display: flex;
            .right{
                margin-left: auto;
                position: static;
                .tradeCard{
                    display: flex;
                    flex-direction: column;
                    z-index: 9999;
                    position: absolute;
                    left: 680px;
                }
            }
        }
        .other{
            display: flex;
            flex-direction: column;
        }
        /* 背景模糊 */
        // .fuzzy{
        //     background-color: rgba(255, 255, 255, 0.85);
        //     backdrop-filter: blur(30px);
        // }
    }
}