.views-page-myAssets-myWalletIndex-childer-recharge{
    .top{
        height: 66px;
        i{
            width: 24px;
            height: 24px;
        }
        span{
            display: inline-block;
        }
    }
    .bottom{
        margin: 0 auto;
        .bottom-upper{
            .myLoading{
                z-index: 1;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(50%, 50%);
            }
            .form-item-content{
                a{
                    width: 384px;;
                }
            }
            .currencyAddr{
                background: #FAFAFA;
                display: inline-block;
                .currencyAddr-text{
                    height: 35px;
                    line-height: 35px;
                    float: left;
                }
                .currencyAddr-Operation{
                    float: left;
                }
                clear: both;
                .iImg{
                    .dropdown-content{
                        padding: 0px !important;
                        width: 120px;
                    }
                    .dropdown-item{
                        width: 120px;
                        padding: 0px !important;
                    }
                }
            }
            .xrpLable{
                height: 48px;
                .labeltip{
                    .navbar-item{
                        display: inline;
                        padding: 0;
                    }
                }
                .uid{
                    width: 78px;
                    height: 20px;
                    text-align: center;
                    line-height: 20px;
                }
            }
            .usdtLable{
                .labeltip{
                    .navbar-item{
                        display: inline;
                        padding: 0;
                        span{
                            display: block;
                        }
                    }
                }
            }
            .tips{
                display: flex;
                flex-direction: column;
                width: 673px;
            }
        }
        .bottom-tab{
            .all{
                float: right;
            }
            clear: both;
        }
    }
}