.views-page-myAssets-myWalletIndex-childer-recharge{
    .top{
        height: 66px;
        i{
            width: 24px;
            height: 24px;
            margin-left: 361.02px;
        }
        span{
            display: inline-block;
        }
    }
    .bottom{
        margin: 0 auto;
        .bottom-upper{
            height: 480px;
            .currencySel{
                width: 384px;
                height: 44px;
            }
            .currencyAddr{
                width: 420px;
                height: 44px;
                display: flex;
                flex-direction: row;
                .currencyAddr-text{
                    width: 336px;
                    height: 44px;
                    input{
                        height: 96%;
                        width: 340px;
                        outline: none;
                        border: none;
                    }
                }
                .currencyAddr-Operation{
                    margin: auto 0;
                    .QrCodeImg{
                        z-index: 999;
                        position: absolute;
                        width: 105px;
                        height: 105px;
                        overflow: hidden;
                    }
                }
            }
            .xrpLable{
                height: 48px;
                .labeltip{
                    .navbar-item{
                        display: inline;
                    }
                }
                .uid{
                    width: 78px;
                    height: 20px;
                    text-align: center;
                    line-height: 20px;
                    background-color: rgba(255, 139, 0, 0.12);
                }
            }
            .usdtLable{
                .labeltip{
                    .navbar-item{
                        display: inline;
                    }
                }
                button{
                    height: 28px;
                    outline: none;
                    border: 1px solid #FF8B00;
                }
                .noneBG{
                    color: #FF8B00;
                    background-color: white;
                }
            }
            .tips{
                display: flex;
                flex-direction: column;
            }
        }
        .bottom-tab{
            height: 309px;
            .all{
                float: right;
            }
            clear: both;
        }
    }
}