.safety-man {
  position: relative;
  padding-top: 331px;

  .leezBlock { // 覆盖 block 组件样式
    border: none;
  }

  .liftingBox {
    position: absolute;
    top: -56px;
  }

  .leftBox, .rightBox {
    width: 592px;
    box-sizing: border-box;
  }
  .leftBox {

    .addPadding {
      //padding: 20px 0;
      box-sizing: border-box;
      border-top: 1px solid rgba(10, 13, 22, 0.04);
      border-bottom: 1px solid rgba(10, 13, 22, 0.04);
      background-color: #FFFFFF;
    }
  }

  // 修改 icon
  i.iconfont:before {
    font-size: 30px;
  }

  // 操作按钮
  .but {
    cursor: pointer;
    background: #FF8B00;
    border-radius: 2px;
    color: #FFFFFF;
  }
}