.views-pages-Myassets-Table{
    .tradingAccount_nav{
        display: flex;
        flex-direction: row;
        height: 52px;
        width: 25%;
    }
    ul{
        border: none;
    }
    .nav{
        display: flex;
        flex-direction: row;
        .search{
            input{
                width: 128px;
                outline:none;
                float: left;
                border: none;
            }
            i{
                float: left;
            }
            clear: both;
        }
        .hideZeroAsset{
            // margin: auto 0px;
            // input{
            //     width: 20px;
            //     height: 20px;
            // }
			// label{
            //     float: left;
            // }
            // span{
            //     float: left;
            // }
            // clear: both;
            margin: auto 0px;
            .color-input-gray+label {
				display: block;
				width: 20px;
				height: 20px;
				cursor: pointer;
			}
			.color-input-gray:checked+label::before {
				display: block;
				content: "\2714";
				text-align: center;
				font-size: 8px;
				color: white;
				background: #9A9EAC;
			}
			input[type=checkbox] {
				visibility: hidden;
			}
			label{
                border: 1px solid #9A9EAC;
                float: left;
            }
            span{
                float: left;
            }
            clear: both;
        }
        .fundRecords{
            i,span{
                vertical-align:middle;
            }
            margin: auto 0px;
        }
        .profit{
            i,span{
                vertical-align:middle;
            }
            margin: auto 0px;
            clear: both;
        }
        .account{
            margin: auto 0px;
            margin-left: auto;
        }
    }
    .tab{
        min-height: 598px;
        table{
            thead{
                // 规范未找到单独设置颜色！！！
                color: rgba(83, 83, 83, 0.555);
            }
            td{
                width: 190px;
            }
            .noneData{
                div{
                    margin: 0 auto;
                    width: 88px;
                    height: 88px;
                    border-radius: 50%;
                }
            }
        }
    }
}