.views-pages-Myassets-Table{
    .tradingAccount_nav{
        display: flex;
        flex-direction: row;
        height: 52px;
        width: 25%;
    }
    ul{
        border:none;
    }
    .nav{
        display: flex;
        flex-direction: row;
        .search{
            input{
                width: 128px;
                outline:none;
                float: left;
                border: none;
            }
            i{
                float: left;
            }
            clear: both;
        }
        .hideZeroAsset{
            i{
                float: left;
            }
            span{
                float: left;
            }
            clear: both;
        }
        .fundRecords{
            i,span{
                vertical-align:middle;
            }
            margin: auto 0px;
        }
        .profit{
            i,span{
                vertical-align:middle;
            }
            margin: auto 0px;
            clear: both;
        }
        .account{
            margin: auto 0px;
            margin-left: auto;
        }
    }
    .tab{
        min-height: 598px;
        table{
            td{
                width: 190px;
            }
            .noneData{
                div{
                    margin: 0 auto;
                    width: 88px;
                    height: 88px;
                    border-radius: 50%;
                }
            }
        }
    }
}