.views-pages-Myassets-Table{
    .tabs ul li a{
        height: 60px !important;
    }
    .nav{
        display: flex;
        flex-direction: row;
        .search{
            border-width: 1px;
            border-style: solid;
            input{
                float: left;
                border: none;
                height: 100%;
                outline: none;
            }
            i{
                float: left;
            }
            clear: both;
        }
        .hideZeroAsset,.fundRecords{
            i,span{
                vertical-align:middle;
            }
            margin: auto 0px;
        }
        .profit{
            i,span{
                vertical-align:middle;
            }
            margin: auto 0px;
            clear: both;
        }
        .account{
            margin: auto 0px;
            margin-left: auto;
        }
    }
    .tab{
        min-height: 598px;
        table{
            thead{
                td{
                    height: 20px;
                }
            }
            td{
                width: 190px;
                height: 52px;
            }
            .noneData{
                height: 510px;
                display: flex;
                justify-content: center;
                align-items: center;
                .imgDiv{
                    margin: 0 auto;
                    width: 88px;
                    height: 88px;
                    border-radius: 50%;
                }
            }
        }
    }
}