.views-page-selfManage-modifyFundPassword{
    .operation{
        div{
            line-height: 57px;
        }
    }
    .warning{
        height: 36px;
        background: rgba(255, 139, 0, 0.08);
        border: 1px solid rgba(255, 139, 0, 0.2);
        line-height: 36px;
    }
    .center{
        height: 396px;
        .center-content{
            width: 384px;
        }
        button{
            outline: none;
            border: none;
            width: 381px;
            height: 44px;
        }
    }
}