.views-pages-home-top {
    border-radius: 0 0 100% 100% / 50%;
    overflow: hidden;
    height: 1050px;


    .top-bottom-box {

        .top-banner {
            height: 200px;
        }
    }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    .views-pages-home-top {
        height: 450px;
    }
}