.views-pages-home-top {
    height: 1050px;

    .bg-father {
        position: relative;
        top: -100%;
        overflow: hidden;
    }

    .bg{
        position: relative;
        width: 200%;
        left: -50%;
        height: 2100px;
        border-radius: 50%;
        z-index: 0;
        overflow: hidden;
    }

    .bg-img {
        position: relative;
        top: 50%;
        left: 50%;
        width: 2840px;
        margin-left: -1420px;
        right: 50%;
        overflow: hidden;
    }

    .top{
        position: relative;
        top: -200%;
        overflow: hidden;
        z-index: 1;
    }

    .top-bottom-box {

        .top-banner {
            height: 174px;
        }
    }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
    .views-pages-home-top {
        height: 450px;
        .bg{
            height: 900px;
        }
        .bg-img {
            width: 768px;
            margin-left: -384px;
        }
    }
}
