.views-page-accountSecurity-bindGoogle-close,.views-page-accountSecurity-bindGoogle-open{
    .operation{
        width: 1920px;
        height: 66px;
        i{
            width: 17.98px;
            height: 16px;
            margin-left: 361.02px;
        }
        span{
            display: inline-block;
        }
    }
    .pwdDiv,.codeDiv{
        width: 385px;
        margin: 0 auto;
        input{
            width: 384px;
            height: 44px;
            border: 1px solid rgba(30, 40, 70, 0.12);
            outline: none;
        }
    }
    .btn{
        margin: 0 auto;
        width: 385px;
        button{
            width: 384px;
            height: 44px;
            border: none;
            outline: none;
        }
    }
}
.views-page-accountSecurity-bindGoogle-open{
    .center{
        background-color: white;
        margin: 0 auto;
        .center-top{
            display: flex;
            flex-direction: row;
            div{
                display: flex;
                flex-direction: column;
                text-align: center;
            }
            .is-active{
                color: #FF8B00;
                border-bottom: 2px solid #FF8B00;
            }
        }
        .center-center{
            .stepOne{
                height: 350px;
                text-align: center;
                .stepOne-qrcode{
                    display: flex;
                    justify-content: center;
                    flex-direction: row;
                    .stepOne-qrcode-left,.stepOne-qrcode-right{
                        div{
                            width: 120px;
                            height: 120px;
                        }
                        width: 120px;
                        height: 150px;
                    }
                }
            }
            .stepTwo{
                height: 360px;
                text-align: center;
                .stepTwo-qrcode{
                    width: 120px;
                    height: 120px;
                    margin: 0 auto;
                }
                .desc2{
                    color: #919EAC;
                }
                .key{
                    input{
                        outline: none;
                        border: none;
                    }
                    i{
                        color: #FF8B00;
                    }
                }
            }   
            .stepThree{
                height: 220px;
                text-align: center;
                .key{
                    input{
                        outline: none;
                        border: none;
                    }
                    i{
                        color: #FF8B00;
                    }
                }
            }
            .stepFour{
                height: 450px;
                .desc1{
                    text-align: center;
                }
            }
        }
        .center-btn{
            height: 102px;
            border-top: 1px solid rgba(10, 13, 22, 0.04);
            .prev{
                border: 1px solid #FF8B00;
                background-color: white;
                float: left;
            }
            button{
                border: none;
                width: 68px;
                height: 36px;
                outline: none;
                float: right;
            }
            clear: both;
        }
    }
}
.views-page-accountSecurity-bindGoogle-close{
    .center{
        margin: 0 auto;
        .warning{
            height: 36px;
            background: rgba(255, 139, 0, 0.08);
            border: 1px solid rgba(255, 139, 0, 0.2);
            i{
                color: #FF8B00;
            }
            line-height: 36px;
        }
        .closeOperation{
            background-color: white;
            height: 400px;
        }
    }
}