.views-page-accountSecurity-bindGoogle-close,.views-page-accountSecurity-bindGoogle-open{
    .operation{
        height: 66px;
        i{
            width: 24px;
            height: 16px;
        }
        span{
            display: inline-block;
        }
    }
    .pwdDiv,.codeDiv{
        width: 385px;
        // input{
        //     width: 384px;
        //     height: 44px;
        //     outline: none;
        //     border-style: solid;
        //     border-width: 1px;
        // }
    }
    .btn{
        width: 385px;
        button{
            width: 384px;
            height: 44px;
            border: none;
            outline: none;
        }
    }
    .margin-LRauto{
        margin: 0 auto;
    }
}
.views-page-accountSecurity-bindGoogle-open{
    .center{
        .center-top{
            display: flex;
            flex-direction: row;
            div{
                display: flex;
                flex-direction: column;
                text-align: center;
                border-width: 2px;
                border-style: solid;
                border-top: none;
                border-left: none;
                border-right: none;
            }
        }
        .center-center{
            .stepOne{
                height: 350px;
                text-align: center;
                .stepOne-qrcode{
                    display: flex;
                    justify-content: center;
                    flex-direction: row;
                    .stepOne-qrcode-left,.stepOne-qrcode-right{
                        div{
                            width: 120px;
                            height: 120px;
                        }
                        width: 120px;
                        height: 150px;
                    }
                }
            }
            .stepTwo{
                height: 360px;
                text-align: center;
                .stepTwo-qrcode{
                    width: 120px;
                    height: 120px;
                }
                .key{
                    input{
                        outline: none;
                        border: none;
                    }
                    ::-moz-selection{/*Mozilla Firefox 4 to 8*/
                        background-color: none;
                    }
                    ::-webkit-selection{/*Webkit browsers*/
                        background-color: none;
                    }
                    ::-ms-selection{/*Internet Explorer 10+*/
                        background-color: none;
                    }
                    input::selection{
                        background-color: none;
                    }
                }
            }   
            .stepThree{
                height: 220px;
                text-align: center;
                .key{
                    input{
                        outline: none;
                        border: none;
                    }
                }
            }
            .stepFour{
                height: 450px;
                .desc1{
                    text-align: center;
                }
                .tips{
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                }
            }
        }
        .center-btn{
            height: 102px;
            border-top: 1px solid rgba(10, 13, 22, 0.04);
            .prev{
                float: left;
                border-width: 1px;
                border-style: solid;
            }
            button{
                border: none;
                outline: none;
                float: right;
            }
            clear: both;
        }
    }
}
.views-page-accountSecurity-bindGoogle-close{
    .center{
        .warning{
            height: 36px;
            background: rgba(255, 139, 0, 0.08);
            border: 1px solid rgba(255, 139, 0, 0.2);
            line-height: 36px;
        }
        .closeOperation{
            height: 400px;
        }
    }
}