.commonAuto{
    width: 90%;
    margin: auto;
}
.columns-flex-warp{
    display: flex;
    flex-wrap: wrap;
}
.columns-flex-justify{
    display: flex;
    justify-content: space-between;
    width: 70%;
}
.columns-flex-justify1{
    display: flex;
    justify-content: space-between;
}
.identicalInput{
    width: 192px;;
    height: 27px !important;
}