.commonAuto{
    margin: auto !important;
}
.columns-flex-warp{
    display: flex;
    flex-wrap: wrap;
}
.columns-flex-justify{
    display: flex;
    justify-content: space-between;
    width: 70%;
}
.columns-flex-justify1{
    display: flex;
    justify-content: space-between;
}
.identicalInput{
    width: 234px !important;
    height: 40px !important;
    border: 1px solid rgba(30, 40, 70, 0.12);
    box-sizing: border-box;
    outline: none;
    border-radius: 2px;
    float: left;
    
}
.identicalInput[type=date]:focus{
    outline: none;
 }
.tbody tr{
    display: block;
}
.tbody tr td{
    width: 200px;
}
.views-pages-Myassets-assetRecords-assetRecordsWallet{
    .dropdown-menu{
        width: 500px;
        display: block;
    }
}

.dropdown-menu1{
    display: none;
}
.bgColor{
    background-color: rgba(255, 143, 9, 0.15);
}
