.views-pages-myassets-header{
    margin-bottom: var(--c-margin-level3);
    padding-left: var(--c-padding-level3);
    display: flex;
    .header-my,.header-record{
        margin-right: var(--c-margin-level5);
    }
    .header-highlight{
        border-bottom: 2px solid var(--c-primary-lighten);
    }
}