*{
    margin: 0;
    padding: 0;
}
.views-pages-myassets-myWallet{
    width: 96%;
}
.views-pages-myassets-myWallet .myWallet-nav{
    display: flex;
    flex-direction: row;
}
.myWallet-nav input{
    margin-right: 3px;
}
.myWallet-nav img{
    margin-left: 20px;
    margin-right: 5px;
}
.myWallet table{
    width: 100%;
}
.myWallet table thead{
    color: rgba(83, 83, 83, 0.555);
}
.myWallet td{
    width: 5%;
    padding:8px 0;
}
.myWallet a{
    color: #FF8B00;
    margin-right: 15px;
}
/* tr悬浮 */
.myWallet table tbody tr:hover {
    background-color: #f7fbfb;
}