.views-pages-myassets-myWallet{
    .myWallet-nav{
        display: flex;
        flex-direction: row;
         input{
            margin-right: var(--c-margin-level1);
        } 
        img{
            margin-left: var(--c-margin-level5);
            margin-right: var(--c-margin-level1);
        }
    } 
}