*{
    margin: 0;
    padding: 0;
}
.myWallet-nav{
    display: flex;
    flex-direction: row;
}
.table-container{
    margin-top: 10px;    
    margin-bottom: 30px;    
}
.table-container a{
    color: #FF8F09;
    margin-right: 10px;
}  
.table-container .table tr{
    background-color: #EFF3F3;
}
/* tr悬浮 */
.table-container .table tr:hover {
    background-color: #f7fbfb;
}