.views-pages-myassets-myWalletIndex{
    margin: auto;
    .columns-flex{
        display: flex;
        flex-wrap: wrap;
    }
    .myWalletIndex-head{
        .myWalletIndex-head-left{
            .myWalletIndex-head-left-total{
                button{
                    background:none;
                    outline: none;
                    border: none;
                    width: 70px;
                }
                div{
                    ul{
                        li{
                            width: 100px;
                            height: 40px;
                            line-height: 40px;
                        }
                        z-index: 999999;
                        position: fixed;
                    }
                }
            }
        }
    }
    .myWalletIndex-switch{
        .wallet{
            display: flex;
            flex-direction: column;
        }
        .trade{
            display: flex;
            .right{
                margin-left: auto;
                position: static;
                .tradeCard{
                    display: flex;
                    flex-direction: column;
                    z-index: 99999;
                    position: absolute;
                    left: 680px;
                    span{
                        color:#9A9EAC;
                    }
                }
            }
        }
        .other{
            display: flex;
            flex-direction: column;
        }
    }
    .myWalletIndex-head-right div{
        button{
            outline: none;
            // border: none;
            border: 1px solid #FF8B00;
            &.bgNone{
                // 边框主色 规范未找到！！！
                background:none;
            }
        }
    }
}