.views-pages-myassets-myWalletIndex{
    margin: auto;
    .columns-flex{
        display: flex;
        flex-wrap: wrap;
    }
    .myWalletIndex-head{
        .myWalletIndex-head-left{
            .myWalletIndex-head-left-total{
                // select{
                //     background: none;
                //     border: none;
                //     outline: none;
                // }
                button{
                    background:none;
                    outline: none;
                    color: white;
                    border: none;
                    width: 70px;
                }
                div{
                    ul{
                        background-color: white;
                        li{
                            width: 100px;
                            height: 40px;
                            line-height: 40px;
                        }
                        z-index: 999999;
                        position: fixed;
                    }
                }
            }
        }
    }
    .myWalletIndex-switch{
        position: relative;
        .tradeCard{
            display: flex;
            flex-direction: column;
            // ！！！
            background-color: white;
            z-index: 99999;
            position: absolute;
            left: 855px;
            top: 80px;
            span{
                // 设计图未说明颜色！！！
                color:gray;
            }
        }
        .myAccount{
            display: flex;
            flex-direction: row;
            .show-desc{
                display: '';
                margin: auto 0px;
                margin-left: auto;
            }
            .hide-desc{
                display: none;
            }
        }
    }
    .myWalletIndex-head-right div{
        button{
            outline: none;
            border: none;
            &:hover{
                background:#FF8B00 !important;
                color: white !important;
            }
            &.bgNone{
                // 边框主色 规范未找到！！！
                border: 1px solid #FF8B00;
                background:none;
            }
        }
    }
}