*{
    margin: 0;
    padding: 0;
}
.tradingAccount .tradingAccount_nav{
    display: flex;
    flex-direction: row;
    border:1px solid red;
    cursor: pointer;
}
.tradingAccount .tradingAccount_nav .is-cyan{
    border-bottom: 2px solid hsl(171, 100%, 41%);
    color:hsl(171, 100%, 41%) ;
}
.tradingAccount .tradingAccount_nav .is-purple{
    border-bottom: 2px solid purple;
    color:purple ;
}
.tradingAccount .tradingAccount_nav .is-red{
    border-bottom: 2px solid hsl(348, 100%, 61%);
    color:hsl(348, 100%, 61%);
}
.tradingAccount div{
    margin-right: 20px;
}