.views-pages-Myassets-Table{
    background-color: white;
    .nav{
        display: flex;
        flex-direction: row;
        .search{
            input{
                width: 128px;
                background-image: url('../../../assets/img/myAssets/search.svg');
                background-repeat: no-repeat;
                background-position: 105px center;
                outline:none;
                // 规范未找到！！！
                border: 1px solid rgba(30, 40, 70, 0.12);
            }
        }
        .hideZeroAsset{
            margin: auto 0px;
            label{
                clear: both;
                input{
                    width: 18px;
                    height: 18px;
                    float: left;
                }
            }
        }
        .fundRecords{
            img,span{
                vertical-align: middle;
            }   
            margin: auto 0px;
        }
        .profit{
            margin: auto 0px;
            clear: both;
        }
        .account{
            margin: auto 0px;
            margin-left: auto;
        }
    }
    .tab{
        table{
            height: 598px;
            thead{
                // 规范未找到单独设置颜色！！！
                color: rgba(83, 83, 83, 0.555);
            }
            td{
                width: 5%;
            }
        }
    }
}