*{
    margin: 0;
    padding: 0;
}
.tradingAccount_coin-nav{
    display: flex;
    flex-direction: row;
}
.tradingAccount_coin table{
    width: 100%;
}
.tradingAccount_coin table thead{
    color: rgba(83, 83, 83, 0.555);
}
.tradingAccount_coin td{
    width: 5%;
    padding:8px 0;
}
.tradingAccount_coin a{
    color: #FF8B00;
    margin-right: 15px;
}
/* tr悬浮 */
.tradingAccount_coin table tbody tr:hover {
    background-color: #f7fbfb;
}