.views-pages-Myassets-Table{
    .nav{
        display: flex;
        flex-direction: row;
        div{
            margin-right: 10px;
        }
        .search{
            input{
                width: 128px;
                height: 28px;
                background-image: url('../../../assets/img/myAssets/search.svg');
                background-repeat: no-repeat;
                background-position: 105px center;
                padding-right: 25px;
                border: none;
                border: 1px solid #ccc;
                border-radius: 2px;
                outline:none;
            }
        }
        .hideZeroAsset{
            margin: auto 0px;
            margin-right: 10px;
            label{
                clear: both;
                input{
                    width: 18px;
                    height: 18px;
                    margin-right: 5px;
                    float: left;
                }
            }
        }
        .fundRecords{
            margin: auto 0px;
            margin-right: 10px;
        }
        .profit{
            margin: auto 0px;
            clear: both;
        }
    }
    table{
        width: 100%;
        thead{
            color: rgba(83, 83, 83, 0.555);
        }
        td{
            width: 5%;
            padding:var(--c-padding-level2) 0;
        }
        /* tr悬浮 */
        tbody tr:hover {
            background-color: var(--c-background-lighten1);
        }
    }
    a{
        color: var(--c-primary-lighten);
        margin-right: var(--c-margin-level4);
    }
}