.views-pages-myassets-tradingAccount{
    background-color: white;
    .tradingAccount_nav{
        display: flex;
        flex-direction: row;
        height: 52px;
        width: 25%;
    }
    // ul{
    //     display: flex;
    //     height: 52px;
    // }
    // is-checkLi{
    //     border-bottom: 1px solid #FF8B00 !important;
    // }
}