*{
    margin: 0;
    padding: 0;
}
.transferOfFunds{
    width: 90%;
    margin: auto;
}
.transferOfFunds-nav-first{
    display: flex;
    flex-direction: row;
    height: 28px;
    padding-left: 10px;
}
.transferOfFunds-nav-first-my,.transferOfFunds-nav-first-record{
    margin-right: 20px;
    cursor: pointer;
}
.transferOfFunds-nav-first-my{
    color: #FF8B00;
    border-bottom: 2px solid #FF8B00;
}
.transferOfFunds-nav-second-one{
    font-size: 20px;
    font-weight: bold;
    margin-right: 20px;
    line-height: 50px;
}
.transferOfFunds-center-type{
    margin-bottom: 10px;
}
.transferOfFunds-center-type span{
    margin-bottom: 10px;
    display: inline-block;
}
.transferOfFunds-center-type select{
    width: 65%;
    height: 40px;
    color: #929292;
    border-radius: 5px;
    border: 1px solid #929292;
}
.transferOfFunds-center-transformation{
    width: 65%;
    display: flex;
    justify-content: space-around;
}
.transferOfFunds-center-transformation input{
    width: 150px;
    height: 40px;
    padding-left: 10px;
    border: 1px solid #ccc;
    margin-top: 5px;
    border-radius: 5px;
}
.transferOfFunds-center-transformation-left
,.transferOfFunds-center-transformation-right{
    height: 70px;
    width: 40%;
}
.transferOfFunds-center-transformation-center{
    height: 70px;
    width: 10%;
}
.transferOfFunds-center-number{
    margin-bottom: 10px;
}
.transferOfFunds-center-number div:nth-child(3){
    width: 65%;
    height: 40px;
    border-radius: 5px;
    background-color: white;
    border: 1px solid #ccc;
    margin-top: 10px;
}

.transferOfFunds-center-number div:nth-child(3) input{
    width: 80%;
    height: 36px;
    border: none;
}

.transferOfFunds-center-number div:nth-child(3) :nth-child(2){
    margin-right: 10px;
}

.transferOfFunds-center-number div:nth-child(3) :nth-child(3){
    color: #FF8B00;
}
.transferOfFunds-center-number div:nth-child(2){
    margin-top: 10px;
    width: 60%;
    display: flex;
}
.transferOfFunds-center-btn{
    width: 65%;
    height: 35px;
    line-height: 35px;
    border-radius: 5px;
    text-align: center;
    background-color: #BEC2CC;
    color: white;
    font-size: 15px;
    letter-spacing: 1px;
}
.transferOfFunds-bottom-record{
    display: flex;
    margin-bottom: 10px;
}
.transferOfFunds-bottom-record div:nth-child(2) span{
    color: #FF8B00;
}
.transferOfFunds-bottom-tab{
    width: 100%;
    margin-bottom: 20px;
}
.transferOfFunds-bottom-tab table thead{
    color: rgba(83, 83, 83, 0.555);
    background-color: #FFEEDA;
}
.transferOfFunds-bottom-tab td{
    width: 5%;
    padding:8px 0;
}
/* tr悬浮 */
.transferOfFunds-bottom-tab table tbody tr:hover {
    background-color: #f7fbfb;
}