.wallet-tableSty{
    .wallet-nav{
        display: flex;
        flex-direction: row;
    }
    table{
        width: 100%;
        thead{
            color: rgba(83, 83, 83, 0.555);
        }
        td{
            width: 5%;
            padding:var(--c-padding-level2) 0;
        }
        /* tr悬浮 */
        tbody tr:hover {
            background-color: var(--c-background-lighten1);
        }
    }
    a{
        color: var(--c-primary-lighten);
        margin-right: var(--c-margin-level4);
    }
}